<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Academic Pathways Home</title>
    </head>
    <body>
        <div class="home" style="text-align: center; width: 100%; height:100%; font-family:Arial, Helvetica, sans-serif;">
            <h1 class="header" style="width:100%; height: 100%; border:3px solid goldenrod; color:grey;">
                UMBC Academic Pathways
            </h1>
            <h2 >
                here you can put academic pathways or something idk
            </h2>
            <table style="text-align: center; border:3px solid goldenrod">
                <p style="text-align: left"> Year 1 </p>
                <br>    
                <tr>
                    <th> Class </th>
                    <th> Credits </th>
                </tr>
                <tr>
                    <td> CMSC201 </td>
                    <td> 3 </td>
                </tr>
                <tr>
                    <td> MATH151 </td>
                    <td> 4 </td>
                </tr>
                <tr>
                    <td> GEN ED </td>
                    <td> ? </td>
                </tr>
                <tr>
                    <td> Elective </td>
                    <td> ? </td>
                </tr>
            </table>
        </div>
    </body>
</html>